################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CosmosDb/bin/Debug/net6.0
/CosmosDb/obj
/CosmosDb/.vs
